@{
    ViewBag.Title = "HandlePostPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Areas/Admin/Assets/css/style.css" rel="stylesheet" />
</head>
<h2 class="unknown">Tạo Bài viết</h2>
<form action="/Admin/Post/CreatAaction" method="post" class="unknown">
    <div>
        <label>Tiêu đề:</label>
        <input type="text" class="form-control" name="Title" />
    </div>
    <div>
        <label>Trích dẫn:</label>
        <input type="text" class="form-control" name="Summary" />
    </div>
    <div>
        <label>Nội dung:</label>
        <textarea type="text" class="form-control" name="Content" rows="10"></textarea>
    </div>
    <div>
        <label>Ảnh đại diện:</label>
        <input type="file" accept="image" class="form-control" name="Avatar" />
    </div>
    <div>
        <label>Nguồn:</label>
        <input type="text" class="form-control" name="Resource" />
    </div>
    <div>
        <label>Tag:</label>
        <input type="text" class="form-control" name="Tag" />
    </div>
    <hr />
    <button type="submit" class="btn btn-success">Cập nhật</button>
    @Html.ValidationSummary()
</form>